body{
  background-color: red;
  text-align: center;
  padding: 10rem 5rem;
}
h1{
  font-family: "Titan One";
  font-size: 7rem;
  color: #FF69B4;
}
p{
  font-family: "Caveat";
  font-size: 3rem;
  color: #fff;
}
.col{
  padding: 2%;
  margin: 2rem 0 0 0;
}
.btn{
  margin-top: 2rem;
}
.image{
  width: 110rem;
  position:absolute;
  right: 10rem;
  top: 0rem;
}
#p2{
  display: none;
  padding: 0.5rem 1rem 0.5rem;
}
#hide{
  display: inline;
}
#subscript{
  color:#eaf6f6;
  font-size: 0.8rem;
  padding: 1rem 0 0 0;
  margin: 1rem 0 0 0;
}
